/* styles for file ttttt */

@namespace context url('http://www.contextgarden.net/context/export') ;


document,
div.document {
    font-size  : 12pt !important ;
    max-width  : 426.78743pt !important ;
    text-align : justify !important ;
    hyphens    : inherited !important ;
}